apiVersion: v1
kind: ConfigMap
metadata:
  name: neo4j-config
data:
  NEO4J_HOST_PORT: neo4j://host.minikube.internal:7687
  NEO4J_USERNAME: neo4j
  NEO4J_PASSWORD: "12345678"   # should become Secret later
