apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service-container
          image: tareqjoy/search-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5006
          livenessProbe:
            httpGet:
              path: /health
              port: 5006
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          readinessProbe:
            httpGet:
              path: /ready
              port: 5006
            initialDelaySeconds: 5
            periodSeconds: 10
            timeoutSeconds: 2
            failureThreshold: 3
          envFrom:
            - configMapRef:
                name: search-service-config
            - configMapRef:
                name: elastic-search-config
            - configMapRef:
                name: service-url-config
