apiVersion: v1
kind: Service
metadata:
  name: search-service
spec:
  selector:
    app: search-service
  ports:
    - protocol: TCP
      port: 3006
      targetPort: 5006
      nodePort: 30006
  type: NodePort