apiVersion: v1
kind: ConfigMap
metadata:
  name: flink-config
  labels:
    app: flink

data:
  flink-conf.yaml: |
    jobmanager.rpc.address: flink-jobmanager
    taskmanager.numberOfTaskSlots: 2
    parallelism.default: 2
    rest.port: 8081
