apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-jobmanager
  labels:
    app: flink
    component: jobmanager
spec:
  replicas: 1
  selector:
    matchLabels:
      app: flink
      component: jobmanager
  template:
    metadata:
      labels:
        app: flink
        component: jobmanager
    spec:
      containers:
        - name: jobmanager
          image: flink:1.20.3-java11
          imagePullPolicy: IfNotPresent
          args: ["jobmanager"]
          ports:
            - containerPort: 6123
            - containerPort: 6124
            - containerPort: 8081
          env:
            - name: FLINK_PROPERTIES
              value: |
                jobmanager.rpc.address: flink-jobmanager
          volumeMounts:
            - name: flink-config
              mountPath: /opt/flink/conf
      volumes:
        - name: flink-config
          configMap:
            name: flink-config
            items:
              - key: flink-conf.yaml
                path: flink-conf.yaml
