apiVersion: apps/v1
kind: Deployment
metadata:
  name: flink-taskmanager
  labels:
    app: flink
    component: taskmanager
spec:
  replicas: 2
  selector:
    matchLabels:
      app: flink
      component: taskmanager
  template:
    metadata:
      labels:
        app: flink
        component: taskmanager
    spec:
      containers:
        - name: taskmanager
          image: flink:1.20.3-java11
          imagePullPolicy: IfNotPresent
          args: ["taskmanager"]
          ports:
            - containerPort: 6121
            - containerPort: 6122
            - containerPort: 6125
          env:
            - name: FLINK_PROPERTIES
              value: |
                jobmanager.rpc.address: flink-jobmanager
                taskmanager.numberOfTaskSlots: 2
                taskmanager.memory.process.size: 1728m
                parallelism.default: 2
