apiVersion: batch/v1
kind: Job
metadata:
  name: analytics-job
spec:
  backoffLimit: 3
  template:
    metadata:
      labels:
        app: analytics
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: copy-jar
          image: tareqjoy/analytics:latest
          imagePullPolicy: Always
          command: ["/bin/sh", "-c", "cp /app/app.jar /jar/app.jar"]
          volumeMounts:
            - name: jar-volume
              mountPath: /jar
      containers:
        - name: flink-submit
          image: flink:1.20.3-java11
          imagePullPolicy: IfNotPresent
          command:
            - /bin/sh
            - -c
            - flink run -m flink-jobmanager:8081 -c analytics.App /jar/app.jar
          envFrom:
            - configMapRef:
                name: analytics-config
            - configMapRef:
                name: redis-config
            - configMapRef:
                name: kafka-config
          volumeMounts:
            - name: jar-volume
              mountPath: /jar
      volumes:
        - name: jar-volume
          emptyDir: {}
