apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-service
spec:
  replicas: 3
  selector:
    matchLabels:
      app: file-service
  template:
    metadata:
      labels:
        app: file-service
    spec:
      containers:
        - name: file-service-container
          image: tareqjoy/file-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: uploads
              mountPath: /data/mynodeapp/uploads
          envFrom:
            - configMapRef:
                name: file-service-config
            - configMapRef:
                name: mongodb-config
            - configMapRef:
                name: service-url-config
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: file-service-uploads-pvc
