# Ignore Gradle project-specific cache directory
.gradle
# Keep Gradle wrapper in VCS
!/gradle/wrapper/
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
# Ignore Gradle build output directory
build

/app/build/
/app/bin
