apiVersion: v1
kind: Service
metadata:
  name: post-service
spec:
  selector:
    app: post-service
  ports:
    - protocol: TCP
      port: 3005
      targetPort: 5005
      nodePort: 30005
  type: NodePort