config: {}

alternateConfig:
  exporters:
    debug:
      verbosity: detailed
    otlp/jaeger:
      endpoint: http://192.168.0.10:4317
      tls:
        insecure: true
    otlphttp/loki:
      endpoint: http://192.168.0.10:3100/otlp
    prometheus:
      endpoint: "0.0.0.0:9090"
      namespace: test-space
      send_timestamps: true
      metric_expiration: 180m
      enable_open_metrics: true
      add_metric_suffixes: false
      resource_to_telemetry_conversion:
        enabled: true

  extensions:
    health_check:
      endpoint: ${env:MY_POD_IP}:13133

  processors:
    batch: {}
    memory_limiter:
      check_interval: 5s
      limit_percentage: 80
      spike_limit_percentage: 25

  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: ${env:MY_POD_IP}:4317
        http:
          endpoint: ${env:MY_POD_IP}:4318
    prometheus:
      config:
        scrape_configs:
          - job_name: opentelemetry-collector
            scrape_interval: 10s
            static_configs:
              - targets: ["localhost:8888"]

  service:
    telemetry:
      metrics:
        readers:
          - pull:
              exporter:
                prometheus:
                  host: "0.0.0.0"
                  port: 8888
    extensions: [health_check]
    pipelines:
      logs:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [otlphttp/loki]
      metrics:
        receivers: [otlp, prometheus]
        processors: [memory_limiter, batch]
        exporters: [prometheus]
      traces:
        receivers: [otlp]
        processors: [memory_limiter, batch]
        exporters: [otlp/jaeger]
