apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - protocol: TCP
      port: 3007
      targetPort: 5007
      nodePort: 30007
  type: NodePort